# Ignore environment variable files
.env
.env.*
_.env
_.env.*

# Common environment/config files
_.env.local
_.env.development
_.env.test
_.env.production

# Python virtual environment and cache
.venv/
venv/
__pycache__/
.pytest_cache/
**pycache**/
*.pyc

# Python build artifacts
build/
dist/
*.egg-info/

# Other secrets/configs
_.secret
_.secrets
_.config.local
_.local

# Log files
logs/
*.log

# Test output
tests/output/
test-output/

# Coverage reports
.coverage
htmlcov/

# Other temporary files
tmp/
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Archived files
/archive/
documentation/archive/

# Node.js
package-lock.json
package.json
node_modules/

# Jupyter Notebooks
*.ipynb

# Setup Files
.sbm_setup_complete

# Auto-update settings
.sbm-no-auto-update
