@mixin declareFonts($family, $weight) {
  font-family: $family;
  @if $weight != null {
    font-weight: $weight;
  }
}

$font-types: (
  regular: (
    family: $maintextfont,
    weight: 400,
  ),
  light: (
    family: $maintextfont,
    weight: 300,
  ),
  bold: (
    family: $maintextfont,
    weight: 700,
  ),
  condensed: (
    family: $heading-font,
    weight: 300,
  ),
);

$types: map_keys($font-types);
@each $type in $types {
  %#{$type} {
    @include declareFonts((map-get($font-types, $type))...);
  }
}

@mixin transform($value) {
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
}

.test-class {
  color: $primary;
  background: $secondary;
  @include transform(translateX(10px));
}