// Function to return appropriate font size for mobile
// Personalizer headline text
@function get-mobile-size($value) {
    $raw-value: $value / ($value * 0 + 1);
    $mobile-size: 30px !default;
    @if $raw-value > 10 {
        $mobile-size: ($raw-value - 20)+px;
    }
    @else {
        $mobile-size: ($raw-value - 1)+em;
    }
    @return $mobile-size;
}
// Create headline styles
@mixin pz-font-defaults($font-family:$heading-font, $color:#fff, $weight:bold, $line-height:normal, $align:center) {
    .personalizer-wrap {
        color: $color;
        font-family: $font-family;
        text-align: $align;

        @for $i from 1 through 6 {
            h#{$i},
            h#{$i} a,
            a h#{$i} {
                color: $color;
                font-weight: $weight;
                line-height: $line-height;
            }
        }

        // Following comes from a modular scale ratio of 1.250 (major third) base 14px—
        // using rems so we don't need to worry about context, just document font size
        h1 {
            font-size: 4.172rem;
        }

        h2 {
            font-size: 3.338rem;
        }

        h3 {
            font-size: 2.67rem;
        }

        h4 {
            font-size: 2.136rem;
        }

        h5 {
            font-size: 1.709em;
        }

        h6 {
            font-size: 1.367em;
        }

        h1, h2, h3, h4, h5, h6 {
            @media (max-width: 768px) {
                font-size: 1.709em;
            }
        }   

        @content;
    }
}
