/* iframe hack - https://sites.google.com/a/dealerinspire.com/dealerinspire-developers-wiki/iframe-hack-credit-applications */
iframe.iframe-responsive {
    width: 1px;
    min-width: 100%;
    *width: 100%;
}

@mixin iframehack(){
    width: 1px;
    min-width: 100%;
    *width: 100%;
}
/* eof: iframe hack - https://sites.google.com/a/dealerinspire.com/dealerinspire-developers-wiki/iframe-hack-credit-applications */