%tab-right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;

  right: 0;
  left: auto !important;
}

%tab-left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;

  left: 0;
  right: auto !important;
}

@mixin save-compare-tab-base() {
  display: inline-block;
  position: fixed;
  z-index: 500;
  line-height: 1;
  padding: 15px 20px;
  letter-spacing: 1px;
  width: auto;
  margin-bottom: 0;
  top: 50%;

  &.position-right {
    @extend %tab-right;
  }

  &.position-left {
    @extend %tab-left;
  }
}
