// Scrollbar styling
// 
// Scrollbar styling doesn't have a lot of cross browser options currently. 
// Mainly you can style size (width/height of "thumb") and then foreground 
// color (color of "thumb") and background color (color of "track" area)
//
// Values: <length> | <color> (thumb) | <color> (track)
//
// https://drafts.csswg.org/css-scrollbars-1/
// 
// 
// usage: NOTE, only works with Firefox if BOTH colors are specified
//
// #lvrp-results-container .results-featured-facets .quick-facets-container {
//      @include scrollbars(10px, #000, transparent);
// }

@mixin scrollbars($size: auto, $foreground-color: null, $background-color: null) {
    $fg: null;
    $bg: null;
  
    // allow colors or CSS Custom Properties passed in
    @if type_of($foreground-color) == color {
        $fg: $foreground-color;
    }
    @else {
        $fg: #{$foreground-color};
    }

    @if type_of($background-color) == color {
        $bg: $background-color;
    }
    @else {
        $bg: #{$background-color};
    }

    // Firefox
    // ONLY works if BOTH colors are specified
    @if ($fg) and ($bg) {
        scrollbar-color: $fg $bg;
    }

    // Chrome, Edge, and Safari
    &::-webkit-scrollbar {
    // both width and height set to handle both vertical and horizontal scroll bars
        width:  $size; 
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background-color: $bg;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $fg;
    }
}