// Force browser to enable acceleration from GPU

@mixin translatez(){
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}

@mixin translateZ(){
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}
