@mixin z-index($layer, $plus: 0) {
  $z-layers: (
    "header": 1000,
    "header-fixed": 1080,
    "modal": 1050,
    "tooltip": 1070,
    "popover": 1060,
    "mobile-overlay": 1030,
    "overlay": 1000,
    "top": 500,
    "extra-high": 400,
    "high": 300,
    "mid": 200,
    "low": 100,
    "half": 50,
    "impact": 1,
    "buried": -1,
    "third-party": -100000000000000000 // jk - NO YOU'RE NOT SHAWN. YOU KNOW THIS TO BE TRUE!
  );

  @if map-has-key($z-layers, $layer) and type-of($layer) == 'string' {
    z-index: map-get($z-layers, $layer) + $plus;
  } @else if type-of($layer) == 'number' {
    z-index: $layer;
  } @else {
    @warn "No z-index found in $z-layers map or the provided argument is not a number. Property omitted.";
  }
}

.di-z-modal,
.di-z-overlay,
.di-z-extra-high,
.di-z-high,
.di-z-mid,
.di-z-low,
.di-z-half,
.di-z-impact,
.di-z-buried {
  position: relative;
}

.di-z-modal {
  @include z-index("modal");
}

.di-z-overlay {
  @include z-index("overlay");
}

.di-z-mobile-overlay {
  @include z-index("mobile-overlay");
}

.di-z-extra-top {
  @include z-index("top");
}

.di-z-extra-high {
  @include z-index("extra-high");
}

.di-z-high {
  @include z-index("high");
}

.di-z-mid {
  @include z-index("mid");
}

.di-z-low {
  @include z-index("low");
}

.di-z-half {
  @include z-index("half");
}

.di-z-impact {
  @include z-index("impact");
}

.di-z-buried {
  @include z-index("buried");
}
