// *************************************************************************************************
//	VARIABLES
// *************************************************************************************************

// *************************************************************************************************
//	COMMON STYLES
// *************************************************************************************************

  
//**************************************************
//	HEADER
//**************************************************

#header {
  @include breakpoint(sm-desktop) {
    .logo-head {
      .logo-switch {
        margin-top: 5px;
        width: 70px;
        height: 70px;
      }
    }
  }
}

 .di-stacks{
     #header{
         #header{
             position: fixed !important;
         }
     }
 }

//**************************************************
//	NAVIGATION
//**************************************************

@media(max-width:1284px){
    .desktop-menu .navbar .navbar-inner ul.nav li a {
      font-size: 12px !important;
      padding: 0 9px;
    }
  }
  @media(max-width:1110px){
    .desktop-menu .navbar .navbar-inner ul.nav li a {
      font-size: 12px !important;
    }
  }

// Start 00971418
.navbar .navbar-inner ul.nav li.megamenu ul.sub-menu {
    width: 990px;
    li[class*="column"] {
        width: 20%;
        min-width: 20%;
    }
}

@media (max-width: 1260px) {
    .navbar .navbar-inner ul.nav li.megamenu ul.sub-menu {
        left: -260px;
    }
}
// End 00971418

// Start 00965731
@media (max-width: 767px) {
    body #fullMenu__overlay .device-nav-menu>.navbar .navbar-inner .nav_section {
        ul.nav>li>a,
        .dropdown-menu.nav>li>a {
            font-size: 20px !important;
            font-weight: bold;
        }

        .dropdown-menu.nav>li>ul.dropdown-menu li a, 
        ul.nav>li>ul.dropdown-menu li a {
            font-size: 18px;
            font-weight: bold;
        }
    }

    #fullOverlay .close-overlay {
        font-size: 16px !important;
    }
}
// End 00965731

//start 02641782
.navbar .navbar-inner ul.nav li ul.sub-menu li.yellow {
  background-color: #FCFF00;
  a {
    color: #000;
    &:hover {
      background-color: #FCFF00;
    }
  }
}
//end 02641782

//**************************************************
//	MESSAGE BAR
//**************************************************

//**************************************************
//	FOOTER
//**************************************************
#footer-row .social ul {
	list-style: none;
	margin-bottom: 25px;
	flex-basis: 0;
	li {
	  display: inline-block;
	}
  }

//**************************************************
//	TABLET ELEMENT STYLING
//**************************************************

//**************************************************
//	MOBILE ELEMENT STYLING
//**************************************************

// *************************************************************************************************
//  Device Header
// *************************************************************************************************

//hide built in mobile menu
@media(max-width: 1024px){
	#header .menu-top {
		display: none;
	}
}

@media (min-width: 1025px){
	.contentcontainer#di-page-composer {
		padding-top: 30px;
	}
}

#hero-row {
	margin-top: 0;
}

.contentcontainer.container-wide {
	padding-top: 30px;
}

//**************************************************
//	SUPPORT REQUESTS
//**************************************************

// #104362 start
#header .logo-head {
    background-position: 5px bottom;
}
// #104362 end