// start 00384517
.header-container .social {

    padding-top: 25px;
  //width: 100px;

  a {
    color: #0a3a9a;
    margin: 0 .1em 0 0;
    i {
      font-size: 16px;
    }
  }
}

#header .header-right .dealership-info-container {
  @media (min-width: 1300px) {
      i {
        font-size: 16px;
      }
  }
}

//00397695 start
.page-template-page-lightning .lightning-custom-cta.stat-button-link:not(.online-shopper-cta-button,.custom-image-cta),
.vdp--lightning .vdp-price-box__cta a.vdp-pricebox-cta-button {
	background-color: #559c56;
}
//00397695 end